example-files/course-details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://omidashouri.ir/courses"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
          xmlns:tns="http://omidashouri.ir/courses">
  <xs:element name="GetCourseDetailsRequest">
  <xs:complexType>
    <xs:sequence>
      <xs:element  name="id" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  </xs:element>

  <xs:element name="GetCourseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CourseDetail" type="tns:CourseDetails">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAllCourseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CourseDetail" type="tns:CourseDetails">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CourseDetails">
      <xs:sequence>
        <xs:element type="xs:integer" name="id"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="description"/>
      </xs:sequence>
    </xs:complexType>

</xs:schema>